.loginPage{
    height: 100vh;
    width:100%;
    /* background: #ff00de; */

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows:  auto auto;
    grid-template-areas:
    /* ". . . . ." */
    ". forms forms forms ."
    "footer footer footer footer footer";
    overflow: hidden;
}
.forms{
    margin-top:100px;
    /* margin-bottom:100px; */
    height: fit-content;
    grid-area: forms;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    grid-template-areas:"loginform .";
    border:6px solid #ff00de;
}
.loginForm{
    width:400px;
    padding:50px;
    /* height: 6%; */
    background-color: rgba(0,0,0,0.6);
    border:6px solid #ff00de;
    padding:1em;
    /* margin: 2em; */
    grid-area:loginform;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 0.8em;
    place-items: center start;
    grid-template-areas: 
    "username  username username"
    "password password password"
    "login register register "
    "fpass fpass .";

}

.loginForm>a{
    color:white;
    text-decoration: none;
}
.loginForm>a:hover{
    color:#1e315f;
}

.username_{
    grid-area: username;
}
.password_{
    grid-area: password;
}
.login__{
    grid-area: login;
    width:100% !important;
}
.register__{
    grid-area: register;
    margin-left:10px;
}
.forggotPassword{
    grid-area: fpass;
}


.footer{
    width:100%;
    height:350px;
    grid-area: footer;
    background-color: #182952/*#0e1935*/;
    display: grid;
    grid-template-rows: auto 100px;
    place-self: end center;
}
.top{
    text-align: center;
    place-self: center center;
    color:rgba(255,255,255,0.76);
    /* color:rgba(0,0,0,0.4) */
}
.bottom{
    width: 100%;
    height: 100px;
    background-color: #0e1935;
    display: block;
    text-align: center;
    display:inline-flex;
    justify-content: center;
    position: static;
    border-top: 4px solid #ff00de;
}
.right{
    width: 300px;
    height: 100%;
}
.footer-icon{
    margin:0.2em;
    align-self: center;
    font-size: 2.8em;
    color:#1e315f;
    transition: 0.2s color;
}
.footer-icon:hover{
    color:white;
}