.butn{
    color:white;
    background-color: #182952;
    padding:.5em;
    margin: 0.5em;
    font-family: 'Bangers';
    border:4px solid #dd00c0;
    transition: background-color 0.5s ease-in-out;
    font-size: 1.1em;
    /* transition: border 0.8s ease-in-out; */
}

.butn:hover{
    background-color: #dd00c0;
}
.butn:active{
    outline-style: solid;
    outline-color: #2b3595;
    outline-style: solid;
    animation:gofar 0.2s ease-in-out;

}

@media (min-width:280px) and (max-width:700px){
    .butn{
        color:white;
        background-color: #182952;
        padding:.2em;
        margin: 0.2em;
        margin-top:0.5em;
        font-family: 'Bangers';
        border:3px solid #dd00c0;
        transition: background-color 0.5s ease-in-out;
        font-size: 1em;
        /* transition: border 0.8s ease-in-out; */
    }
    
    .butn:hover{
        background-color: #dd00c0;
    }
    .butn:active{
        outline-style: solid;
        outline-color: #2b3595;
        outline-style: solid;
        animation:gofar 0.2s ease-in-out;
    
    }
    
}

@keyframes gofar{
    0%,100%{
        
        outline-offset: 0px;
        outline-width: 0;
        
        

    }50%{
        outline-offset: 0px;
        outline-width: 5px;
    }
}