.formBox{
    /* width: 60%; */
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    border:6px solid #ff00de;
    margin:2em;
    padding:2em;
    background-color:rgba(0,0,0,0.4);
    justify-content: center;
    justify-items: center;
    place-items: center center;
    place-self:center center;
    height: fit-content;
}



