body::after{
    background: url('./HomePage/back3.jpg');
    content:'';
    height: 100%;
    width: 100%;
    z-index: -5;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.5;
    /* animation:backChange 10s infinite  linear; */
    /* transition: background linear 3s; */
    /* animation:backZoom 10s infinite linear; */
    /* overflow: hidden; */
}
body{
    /* overflow: hidden; */
}
@keyframes backZoom{
    0%{
        transform: scale(1);
    }50%{
        transform: scale(1.2);
    }100%{
        transform: scale(1);
    }
}

@keyframes backChange{
    0%{
        background: url('./HomePage/back.jpg');
        background-size: cover;
    }20%{
        opacity: 0.4;
    }40%{
        opacity: 0.3;
    }50%{
        opacity: 0.1;
    }55%{
        opacity: 0;
    }   
    60%{
        background: url('./HomePage/back2.jpg');
        background-size: cover;
    }70%{
        opacity: 0.1;
    }80%{
        opacity: 0.3;
    }90%{
        opacity: 0.4;
    }100%{
        opacity: 0.5;
    }
}


.form-control input[text]:focus{
    outline: 0 !important;
}