.eCard{
    margin:1em;
    border:5px #e14594 solid;
    background-color: #0e1935;
    width:300px;
    height: fit-content;
    animation: neon 1s ease-in-out infinite alternate;
}

.icon{
    margin:0 0.2em 0 0.2em;
    font-size: 1.2em;
}

.compBox{
    background-color: #0e1935;
    height: 40px;
}
.compName{
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bangers';
}

.title{
    color:white;
    text-align: center;
    font-family: 'Bangers';
}
.discr{
    text-align: justify;
    font-size: 0.7em;
    text-transform: capitalize;
    color:#adadad;
}
.imageBox{
    background-color: #182952;
    border-bottom: #e14594 solid 2px;
    border-top: #e14594 solid 2px;
    /* padding:3px; */
    padding: 1em 0 1em 0em ;
}
.info{
    padding:0.8em;
    background-color: #0e1935;
    width: 100%;
    height: fit-content;
}
.image{
    width: 250px;
    height: 100px;
    object-fit: contain;
    
}

.details{
    background-color: #0e1935;
    padding:0.8em;
    padding-top:0 !important;
    font-family: 'Bangers';

}
.rsvBtn{
    text-align: center;
    margin-bottom: 0.5em;
}

@keyframes neon {
    from {
      box-shadow: 0 0 2px #0e1935;
    }
    to {
      box-shadow:0 0 1px #0e1935,0 0 2px #0e1935,0 0 3px #0e1935,0 0 4px #e14594,0 0 7px #e14594,0 0 9px #ee69ac;
    }
  }