
.dashCard{
    /* background-color: rgba(255,0,222,0.3); */
    background-color: #17284f;
    width: 270px;

    height: 150px;
    color:white;
    font-family: 'Bangers';
    border:5px solid #ff00de;
    font-size: 2em;
    margin:0.3em;
    transition: all 0.4s ease-in-out;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "link icon"
    "link icon";
    justify-content: center;
    align-items: center;
    grid-gap: .5em;
    cursor: pointer;
    
}
.dashCardIcon{
    font-size: 3em;
    /* position: absolute; */
    z-index: 0;
    color:rgba(255,255,255,0.3);
    grid-area: icon;
}
.dashCard a{
    color:rgba(255,255,255,0.3);
    text-decoration: none;
    text-align: left;
    grid-area: link;
}
.dashCard:hover a{
    color:white;
    text-decoration: none;
}
.dashCard:hover .dashCardIcon{
    color:white;
}
.dashCard:nth-child(odd){
    animation:neon 1.1s infinite alternate;
}
.dashCard:nth-child(even){
    animation:neon 0.71s infinite alternate;
}
.smallDashboard{
    background-color: #17284f;
    border:5px solid #ff00de;
    margin:1em;
    padding:1em;
    box-sizing: border-box;
}

.inside{
    /* display; */
    width: 100%;
    height: 100%;
    /* position: absolute; */
    margin: 0;
    display: inline-block;
    text-align: center;
    place-self:center center;
    z-index: 2;
    background-color:black;
}

.dashCard:hover{
    background-color: #ff00de;
    border-color: white;
    text-decoration: none;
    color:white;
}


@keyframes neon {
    from {
      box-shadow: 0 0 2px #0e1935;
    }
    to {
      box-shadow:0 0 1px #0e1935,0 0 2px #0e1935,0 0 3px #0e1935,0 0 4px #e14594,0 0 7px #e14594,0 0 9px #ee69ac;
    }
  }

  a{
      text-decoration: none;
  }
  a:hover{
      text-decoration: none;
  }
  a:visited{
      text-decoration: none;
  }