.text_input{
    background:transparent;
    
    outline-width: 0;
    border:0px;
    box-shadow: 0 0 0 #fff;
    border-bottom:3px #ff00de solid;
    color:#fff;
    padding:5px;
    margin:1em;
    font-size: 1em;
    font-family:'bangers';
    letter-spacing: 1px;
    padding-left:10px;
    padding-right: 10px;
    /* font-size: 14px; */
    width: 100%;
    height: 45px;
    user-select: text !important;
}
.error{
  border-bottom:3px #c50000 solid;
  color:#c50000;
}
.error-label{
  color:#c50000 !important;
}
.text_input:disabled {
  color:#700061;
  border-color: #700061;
}
.text_input:disabled ~.floating-label{
  color:#700061;
  /* border-color: #700061; */
}
.text_input::placeholder{
    color:#ff00de !important;
    opacity: 1;
    font-family: 'Bangers';
}
.text_input::selection{
    background-color: rgba(255,255,255,0.3);
}

.floating-label {
    position: absolute;
    pointer-events: none;
    font-weight: 100;
    letter-spacing: 2px;
    left: 20px;
    top: 18px;
    transition: 0.2s ease all;
    font-family: 'Bangers', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    color:#ff00de;
  }

input:focus ~ .floating-label,input:valid:required:not(:focus)~.floating-label,input[value]:not([value=""]):not(:focus)~.floating-label{
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 15px;
  opacity: 1;
  
}

.content{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 'p x';
  place-items: center center;
}

#x{
  grid-area: x;
}
#p{
  grid-area: p;
  place-self:center center;
  margin: 0;
  font-family: 'Bangers';
  font-size: 1.3em;
}

.checkbox {
    display: block;
    position: relative;

    /* padding-left: 35px; */
    /* margin-bottom: 12px; */
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border:2px #ff00de solid;

  }
  
  /* On mouse-over, add a grey background color */
  .checkbox:hover input ~ .checkmark {
    background-color: #0e1935;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox input:checked ~ .checkmark {
    background-color: transparent;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #ff00de;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* 
.text_input:hover{
    background-color: rgba(0,0,0,0.3);
}
.text_input:focus{
    background-color: rgba(0,0,0,0.3);
}
.text_input:active{
    background-color: rgba(0,0,0,0.3);
}
 */
