@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Pacifico');


@media (min-width: 1481px) {
    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer; 
        color: rgba(255,255,255,0.8);
        font-size: 24px;
        display: none;
    }
    .navbar__{
        /* padding:0.5em; */
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
        "logo menu";
        align-items: center;
        background-color: #0e1935;
        height: 100px;
    }
    .menu__{
        color:white;
        grid-area: menu;
        place-self:center end;
        list-style: none;
        list-style-type:none;
        /* display: inline; */
        /* margin:1em; */
        font-size: 1.6em;
        line-height: 100px;
        margin-right: 30px;
    
    }
    
    .nav_{
        display: inline;
        /* margin-left:1em; */
    }
    .navbar__toggled{
        /* padding:0.5em; */
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
        "logo menu";
        align-items: center;
        background-color: #0e1935;
        height: 100px;
    }
    .menu__toggled{
        color:white;
        grid-area: menu;
        place-self:center end;
        list-style: none;
        list-style-type:none;
        /* display: inline; */
        /* margin:1em; */
        font-size: 1.6em;
        line-height: 100px;
        margin-right: 30px;
    
    }
    
    .nav_toggled{
        display: inline;
        /* margin-left:1em; */
    }
    .nav_>a:hover{
        color:#e14594 !important;
    }
    .nav_:nth-child(odd){
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    .nav_toggled:nth-child(odd){
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    
    .logo{
        width:250px;
        grid-area: logo;
    }
    .nights{
        color:#e14594;
        font-family: 'Pacifico';
        font-size: 1.7em ;
    
    }
    .natalie{
        color:white;
        font-family: 'Bangers';
        font-size:3em;
        margin-left: 20px;
        line-height: 70px;
    
    }
  }

@media  (min-width: 1000px) and (max-width: 1380px) {
    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer; 
        color: rgba(255,255,255,0.8);
        font-size: 24px;
        display: none;
    }
    .navbar__{
        /* padding:0.5em; */
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
        "logo menu";
        align-items: center;
        background-color: #0e1935;
        height: 80px;
    }
    .menu__{
        color:white;
        grid-area: menu;
        place-self:center end;
        list-style: none;
        list-style-type:none;
        /* display: inline; */
        /* margin:1em; */
        font-size: 1.5em;
        line-height: 80px;
        margin-right: 30px;
        margin:0;
    
    }
    
    .nav_{
        display: inline;
        /* margin-left:1em; */
    }
    .navbar__toggled{
        /* padding:0.5em; */
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
        "logo menu";
        align-items: center;
        background-color: #0e1935;
        height: 80px;
    }
    .menu__toggled{
        color:white;
        grid-area: menu;
        place-self:center end;
        list-style: none;
        list-style-type:none;
        /* display: inline; */
        /* margin:1em; */
        font-size: 1.5em;
        line-height: 80px;
        margin-right: 30px;
        margin:0;
    
    }
    
    .nav_toggled{
        display: inline;
        /* margin-left:1em; */
    }
    .nav_>a:hover{
        color:#e14594 !important;
    }
    .nav_:nth-child(odd){
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    .nav_toggled:nth-child(odd){
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    
    .logo{
        grid-area: logo;
    }
    .nights{
        color:#e14594;
        font-family: 'Pacifico';
        font-size: 1.5em ;
    
    }
    .natalie{
        color:white;
        font-family: 'Bangers';
        font-size:2.5em;
        margin-left: 20px;
        line-height: 80px;
    
    }
  }

  @media  (min-width: 800px) and (max-width: 1280px) {
    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer; 
        color: rgba(255,255,255,0.8);
        font-size: 24px;
        display: none;
    }
    .navbar__{
        /* padding:0.5em; */
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
        "logo menu";
        align-items: center;
        background-color: #0e1935;
        height: 80px;
    }
    .menu__{
        color:white;
        grid-area: menu;
        place-self:center end;
        list-style: none;
        list-style-type:none;
        /* display: inline; */
        /* margin:1em; */
        font-size: 1.5em;
        line-height: 80px;
        margin-right: 30px;
        margin:0;
    
    }
    
    .nav_{
        display: inline;
        /* margin-left:1em; */
    }
    .navbar__toggled{
        /* padding:0.5em; */
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
        "logo menu";
        align-items: center;
        background-color: #0e1935;
        height: 80px;
    }
    .menu__toggled{
        color:white;
        grid-area: menu;
        place-self:center end;
        list-style: none;
        list-style-type:none;
        /* display: inline; */
        /* margin:1em; */
        font-size: 1.5em;
        line-height: 80px;
        margin-right: 30px;
        margin:0;
    
    }
    
    .nav_toggled{
        display: inline;
        /* margin-left:1em; */
    }
    .nav_>a:hover{
        color:#e14594 !important;
    }
    .nav_:nth-child(odd){
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    .nav_toggled:nth-child(odd){
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    
    .logo{
        grid-area: logo;
    }
    .nights{
        color:#e14594;
        font-family: 'Pacifico';
        font-size: 1.5em ;
    
    }
    .natalie{
        color:white;
        font-family: 'Bangers';
        font-size:2.5em;
        margin-left: 20px;
        line-height: 80px;
    
    }
  }
  @media  (min-width: 280px) and (max-width: 800px) {
    .navbar-toggle {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer; 
        color: rgba(255,255,255,0.8);
        font-size: 24px;
        /* display: none; */
    }
    .s{
        transition: height 1s;
    }
    .navbar__{
        /* padding:0.5em; */
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
        "logo menu";
        align-items: center;
        background-color: #0e1935;
        height: 60px;
        
        transition: height 0.2s !important;
    }
    .menu__{
        color:white;
        grid-area: menu;
        place-self:center end;
        list-style: none;
        list-style-type:none;
        /* display: inline; */
        margin:0em;
        font-size: 1.2em;
        line-height: 60px;
        margin-right: 20px;
        margin:0;
        display: none;
    
    }
    .navbar__toggled{
        /* padding:0.5em; */
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "logo ."
        "menu menu";
        align-items: center;
        background-color: #0e1935;
        height: 230px;
        /* max-height: fit-content; */
        transition: height 0.31s;
    }
    .menu__toggled{
        color:white;
        grid-area: menu;
        place-self:center center;
        list-style: none;
        list-style-type:none;
        /* display: inline; */
        margin:0em;
        padding-bottom:20px;
        font-size: 1.2em;
        line-height: 60px;
        margin-right: 20px;
        margin:0;
        /* display: none; */
    
    }
    
    .nav_{
        display: inline;
        /* margin-left:1em; */
    }
    .nav_toggled{
        display: block;
        margin:0;
        line-height: 30px;
        text-align: center;
        /* margin-left:1em; */
    }
    .nav_>a:hover{
        color:#e14594 !important;
    }
    .nav_:nth-child(odd){
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    
    .logo{
        grid-area: logo;
    }
    .nights{
        color:#e14594;
        font-family: 'Pacifico';
        font-size: 1.2em ;
    
    }
    .natalie{
        color:white;
        font-family: 'Bangers';
        font-size:2em;
        margin-left: 20px;
        line-height: 60px;
    
    }
  }


.logo{
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
     -ms-user-select: none;      /* IE 10+ */
      user-select: none;   
}
li a{
    color:white;
    transition: color 0.3s;
    text-decoration: none;
    font-family: 'Bangers';
     
    
}
li a:active{
    color:white;
    text-decoration: none;
}
li a:hover{
    color:#e14594;
    text-decoration: none;
}
li a:focus{
        color:white;
        text-decoration: none;
}
.aactive{
    color:#7045af;
}
*{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
     -ms-user-select: none;      /* IE 10+ */
      user-select: none;  
}