.header{
    background-color:#0e1935;
    transition: 0.155s   all;
    padding-left:64px;
    height: 70px;
    display: grid;
    grid-template-rows: 70px ;
    grid-template-columns: 250px auto 250px;
    grid-template-areas:
    "logo . userinfo";
    /* ". . ."; */
    
}
.header-expanded{
    padding-left:240px;
}
.sidenav---sidenav---_2tBP{
    background-color: #0e1935 !important;
    font-family: 'bangers' !important;
}
.sidenav---sidenav-subnav---1EN61{
    background-color:#0e1935 !important;
    border-radius: 0 !important;
    border:2px #ff00de solid !important;
}
/* .sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47{
    border-radius: 0;
    border:2px #ff00de solid;
    color:white !important;
} */

.sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47 > .sidenav---navitem---9uL5T{
    color:white !important;
}
.sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47:first-child{
    border-bottom: 1px solid #ff00de !important;
}
.sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47 > .sidenav---navitem---9uL5T:hover{
    background-color: rgba(255,255,255,0.1) !important;
}

.userInfo{
    width:250px;
    grid-area: userinfo;
    /* display: inline; */
    /* position: absolute; */
    padding:0;
    margin: 0;
    place-self: center center;
    text-align: center;
}
.userInfo>p{
    margin:0;
    padding:0;
    
}
.logout{
    padding-top:3px !important;
}
.logout:hover{
    color:#ff00de;
    cursor: pointer;
    
}
.breadCrumps{
    grid-area: crumps;
    background-color:rgba(0,0,0,0.3);
    width:500px;
    place-self: center end;
    height: 100%;
    line-height: 0.8em;
    text-align: center;
    padding:1em;
    display: none;
}
/* .username{
    padding:0;

} */