/* @import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

.nights{
    color:#e14594;
    font-family: 'Pacifico';
    font-size: 0.7em ;
}
.natalie{
    color:white;
    font-family: 'Bangers';
    font-size:2.5em
}

/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar{
    color:white;
    font-family: 'Bangers';
    width:100%;
    background: #17284f;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    font-size: 18px;
}
.main-nav {
    list-style-type: none;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
} */ 